---
import Layout from "../layouts/Layout.astro";
import ConnectSteps from "../components/ConnectSteps.astro";
---

<Layout>
    <main class="flex grow flex-col">
        <ConnectSteps />
    </main>
</Layout>
